*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 12vh;
    display: flex;
    gap: 10px;
    background-color: black;
    color: white;
    font-family: sans-serif;
}
.nav-icon{
    font-size: 30px;
    margin-left: 80px;
    margin-top: 12px;
}
.spotify-nav{
    font-size: 21px;
    margin-top: 17px;
    font-weight: 600;
    font-family: sans-serif;
    color: white;
}
.menu1{
    position: relative;
    margin-left: 200px;
    margin-top: 17px;
    list-style: none;
    font-family: sans-serif;
    
}
.submenu1{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: rgb(54, 53, 53);
    width: 38vh;
    height: 85vh;
    text-align: start;
    margin-top: 12px;
    font-family: sans-serif;
    text-align: start;
    box-shadow: 2px 2px 2px gray;
}
.menu1:hover .submenu1{
    top: 100%;
    opacity: 1;
    pointer-events: all;
    list-style: none;
}
.plans{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    font-family: sans-serif;
    margin-left: 200px;
}
.plans:hover{
    color: rgb(22,78,42);
    cursor: pointer;
    transition: 500ms;
}
.plans2{
    margin-top: 22px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    font-family: sans-serif;
    margin-left: 20px;
}
.plans2:hover{
    color: rgb(22,78,42);
    cursor: pointer;
    transition: 300ms;
}
.plans3{
    margin-top: 22px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    font-family: sans-serif;
    margin-left: 40px;
}
.plans3:hover{
    color: rgb(22,78,42);
    cursor: pointer;
    transition: 300ms;
}
.nav-text{
    color: white;
    margin-top: 52px;
}
.line-nav{
    font-size: 20px;
    margin-top: 17px;
    margin-left: 30px;
}
.h4-nav{
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
}
.p-nav{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    color: gray;
}
.download2{
    text-decoration: none;
    color: rgb(217,218,220);
}
.download2:hover{
    color: rgb(22,78,42);
    cursor: pointer;
    transition: 300ms;
}
.a{
    text-decoration: none;
    color:rgb(217,218,220) ;
}
.purple{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top,rgb(18,18,18),rgb(18,18,18),rgb(18,18,18), rgb(125,120,208) );
    display: flex;
    justify-content: center;
    gap: 20px;
}
.small-p{
    width: 40vw;
    height: 60vh;
    margin-top: 55px;
}
.h1-£0{
    font-size: 45px;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 20px;
    margin-right: 150px;
}
.p-£0{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
}
.a:hover{
    color: green;
    transition: 300ms;
}
.small-p2 img{
    width: 35vw;
    height: 100vh;
    margin-left: 150px;
}
.purple-button1{
    width: 17vw;
    height: 8vh;
    background-color: rgb(151,145,255);
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: 30px;
}
.purple-button2{
    width: 13vw;
    height: 8vh;
    background-color: black;
    color: white;
    border-radius: 30px;
    border:1px solid gray;
    font-size: 16px;
    font-weight: 800;
    font-family: sans-serif;
    margin-left: 5px;
    margin-top: 30px;
}
.purple-p{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
    margin-right: 300px;
    margin-top: 40px;
}
.Experience1{
    font-size: 38px;
    font-weight: 700;
    font-family: sans-serif;
    color: white;
    text-align: center;
}
.Experience2{
    font-size: 25px;
    font-weight: 400;
    font-family: sans-serif;
    color: white;
    text-align: center;
}
.all-Experience{
    width: 100%;
    height: 150vh;
    background-color: rgb(18,18,18);
}
.mixed{
    width: 40%;
    height: 25vh;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-left: 390px;
}
.mixed1{
    width: 12vw;
    height: 25vh;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    padding-top: 100px;
}
.mixed2{
    width: 12vw;
    height: 25vh;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.mixed3{
    width: 10vw;
    height: 25vh;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    padding-top: 40px;
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
}
.icon-mixed-a{
    display: flex;
}
.mixed-icon i{
    font-size: 15px;
    padding-top: 40px;
}
.hr{
    width: 40%;
    height: 2px;
    background-color: white;
    margin-left: 390px;
}
.flex-line{
    display: flex;
    margin-top: 13px;
    margin-left: 390px;
}
.flex-text{
    color: white;
    text-decoration: dotted;
}
.minus1 i{
    font-size: 30px;
    margin-left: 130px;
}
.marked1 i{
    font-size: 30px;
    margin-left: 130px;
}
.minus2 i{
    font-size: 30px;
    margin-left: 120px;
}
.marked2 i{
    font-size: 30px;
    margin-left: 120px;
}
.minus3 i{
    font-size: 30px;
    margin-left: 130px;
}
.marked3 i{
    font-size: 30px;
    margin-left: 130px;
}
.minus4 i{
    font-size: 30px;
    margin-left: 133px;
}
.marked4 i{
    font-size: 30px;
    margin-left: 133px;
}
.minus5 i{
    font-size: 30px;
    margin-left: 135px;
}
.marked5 i{
    font-size: 30px;
    margin-left: 135px;
}
.minus6 i{
    font-size: 30px;
    margin-left: 142px;
}
.marked6 i{
    font-size: 30px;
    margin-left: 142px;
}
.all-Affordable{
    width: 100%;
    height: 100vh;
    background-color:rgb(18,18,18) ;
}
.Affordable{
    font-size: 37px;
    font-weight: 700;
    font-family: sans-serif;
    color: white;
    text-align: center;
}
.Affordable2{
    width: 60%;
    height: 15vh;
    font-size: 12px;
    color: white;
    text-align: center;
    margin-left: 260px;
}
.Affordable-text{
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
}
.banks{
    display: flex;
    gap: 10px;
    margin-left: 540px;
}
.banks-img{
    width: 4vw;
    height: 7vh;
    background-color: white;
    border-radius: 5px;
}
.banks-img img{
    width: 4vw;
    height: 6vh;
    border-radius: 5px;
    padding-top: 1px;
    padding-left: 2px;
}
.all-include{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 80px;
}
.include1{
    width: 37%;
    height: 30vh;
}
.include-h3{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 50px;
}
.include2{
    width: 30%;
    height: 30vh;
}
.include-list{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
}
.all-payment{
    background-color: rgb(18,18,18);
}
.all-payment2{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.payment1{
    width: 29%;
    height: 83vh;
    background-color: rgb(36,36,36);
    border-radius: 10px;
}
.payment1-up{
    width: 12vw;
    height: 5vh;
    font-size: 16px;
    padding-left: 10px;
    font-family: sans-serif;
    font-weight: 700;color: black;
    background-color: rgb(255,210,215);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
.payment2{
    width: 29%;
    height: 83vh;
    background-color: rgb(36,36,36);
    border-radius: 10px;
}
.payment2-up{
    width: 12vw;
    height: 5vh;
    font-size: 16px;
    padding-left: 10px;
    font-family: sans-serif;
    font-weight: 700;color: black;
    background-color: rgb(196,177,212);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
.payment3{
    width: 29%;
    height: 83vh;
    background-color: rgb(36,36,36);
    border-radius: 10px;
}
.payment4{
    width: 29%;
    height: 83vh;
    background-color: rgb(36,36,36);
    justify-content: center;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 450px;
}
.payment-icon{
    display: flex;
    margin-left: 15px;
    padding-top: 20px;
}
.payment-icon i{
    font-size: 21px;
}
.icon-premium{
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
}
.Individual{
    font-size: 33px;
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(255,210,215);
    padding-left: 15px;
}
.Student{
    font-size: 33px;
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(196,177,212);
    padding-left: 15px;
}
.Duo{
    font-size: 33px;
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(255,200,98);
    padding-left: 15px;
}
.Family{
    font-size: 33px;
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(119,143,179);
    padding-left: 15px;
}
.£{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    padding-left: 15px;
}
.white-gray{
    color: gray;
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
    padding-left: 15px;
}
.p-hr{
    width: 26vw;
    height: 2px;
    margin-left: 13px;
    background-color: white;
}
.listed{
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    padding-left: 10px;
    padding-right: 15px;
    color: white;
}
.payment-button1{
    width: 25vw;
    height: 8vh;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    background-color: rgb(255,210,215);
    border-radius: 30px;
    border: none;
    margin-left: 23px;
}
.payment-button1:hover{
    transform: scale(1.10);
    transition-duration: 200ms;
}
.payment-button2{
    width: 25vw;
    height: 8vh;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    background-color: rgb(196,177,212);
    border-radius: 30px;
    border: none;
    margin-left: 23px;
}
.payment-button2:hover{
    transform: scale(1.10);
    transition-duration: 200ms;
}
.payment-button3{
    width: 25vw;
    height: 8vh;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    background-color: rgb(255,200,98);
    border-radius: 30px;
    border: none;
    margin-left: 23px;
}
.payment-button3:hover{
    transform: scale(1.10);
    transition-duration: 200ms;
}
.payment-button4{
    width: 25vw;
    height: 8vh;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    background-color: rgb(119,143,179);
    border-radius: 30px;
    border: none;
    margin-left: 23px;
}
.payment-button4:hover{
    transform: scale(1.10);
    transition-duration: 200ms;
}
.footer-gray{
    font-size: 11px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(150,152,155);
    padding-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.q-and-a{
    width: 100%;
    height: 150vh;
    background-color: rgb(18,18,18);
}
.Question{
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-top: 80px;
}
.answer{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
    padding-top: 30px;
}
.more{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
    padding-top: 10px;
}
footer{
    display: flex;
    gap: 20px;
    background-color: black;
    padding-top: 20vh;
}
.footer-icon{
    width: 18vw;
    height: 50vh;
    display: flex;
}
.footer-icon2{
    width: 24vw;
    height: 50vh;
    display: flex;
    gap: 30px;
}
.footer-text{
    width: 14vw;
    height: 50vh;
}
.gray{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    color: gray;
    padding-left: 25px;
    padding-right: 25px;
}
.green{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
}
.green:hover{
    color: green;
    transition-duration: 300ms;
}
.footer-2{
    width: 100%;
    height: 20vh;
    background-color: black;
    display: flex;
    gap: 150px;
    padding-top: 30px;
    justify-content: center;
}
.icons-3{
    width: 3vw;
    height: 6vh;
    background-color: rgb(34,35,38);
    border-radius: 30px;
}
.icons-3 i{
    font-size: 25px;
}
.text-f{
    font-size: 12px;
    font-weight: 400;
    font-family: sans-serif;
    color: gray;
}
.text-f:hover{
    color: green;
}
.flex-2{
    display: flex;
    gap: 10px;
}
.accordion-body{
    background-color: rgb(31,31,31);
    color: white;
}
.accordion-button{
    background-color: rgb(18,18,18);
    color: white;
    display: block;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 700;
}
.accordion-button:hover{
    background-color:rgb(50, 50, 50) ;
    color: white;
    text-decoration: dashed;
}
.accordion-header{
    background-color: rgb(18,18,18);
    color: white;
}
.accordion-item{
    width: 92%;
    justify-content: center;
    margin-left: 60px;
    border: none;
    border-radius: none;
}